body {
    /* Centers and adjusts length of the line that is
     separating the tabs from the rest of the page */
    margin-left: auto;
    margin-right: auto;
    width: 98%;
    
}

#tabs {
    float: left;
    width:100%;
    font: 30px Tahoma;
    
    /* Adds line separating tabs from rest of page */
   border-bottom: 1px solid #cccccc;

}

#tabs ul {
    list-style: none;
    margin: 0;

    /* Adds padding on sides of the entire tabbed bar */
    padding:5px 5px;
}

#tabs ul li {
    float:left;
    
    background-image: url('right.gif');
    background-repeat: no-repeat;
    background-position: right top;
    
    /* Adds space between each tab */
    margin:0px 3px;
    padding:0;
}

#tabs ul li a {
    display: block;
    float:left;
    text-decoration: none;
    color: #000000;
    
    background-image: url('left.gif');
    background-repeat:  no-repeat;
    background-position: left top;
    
    /* Adds padding on sides of hyperlink area 
     to reveal curved edges of tab */
    padding:0px 3px;
    margin:0px;
}

#tabs ul li a span {
    float: left;
    
    background-image: url('mid.gif');
    background-repeat: repeat-x;
    background-position: center top;
    
    /* Adds padding between the tab text
      and the edges of the tab */
    padding:3px 5px;
    margin:0px;
}


/* Formatting for selected tab */
#tabs li#selected {
    background-image: url('right-selected.gif');
    background-repeat:  no-repeat;
    background-position: right top;
}

#tabs li#selected a {
    display:block;
    font-weight: bold;
    
    background-image: url('left-selected.gif');
    background-repeat:  no-repeat;
    background-position: left top;
    
    /* Removes line underneath selected tab */
    border-bottom-style: solid;
    border-bottom-color: #ffffff;
    border-bottom-width: 60px;
    margin-bottom:-60px;
}

#tabs li#selected a span {
    background-image: url('mid-selected.gif');
    background-repeat: repeat-x;
    background-position: center top;
}


/* Change text color and mouse pointer when hover over tab */
#tabs li a:hover {
    color: #cc6600;
    cursor: pointer;
}