h1 {
    margin-left:auto;
    margin-right:auto;
    width:100%;
    text-align:center;
    font-size:
}

.newsSpread{
    width: 100%;
    height: 100%;
}
.leftNews{
    float: left;
    width: 50%;
    height: 1000px;
}
.rightNews{
    float: left;
    width: 50%;
    height: 1000px;
}
iframe{
    width: 100%;
    height: 100%;
}