<div id = "message_box">

	<% if message_class == "success" then %>
	<img class="message_icon" src="/assets/happy_cat.jpg" alt="Success!" />
	<% elsif message_class == "error" then %>
	<img class="message_icon" src="/assets/grumpy_cat.jpg" alt="Error" />
	<% end %>

	<span class = "message<%= message_class %> message_text"><%= message %></span>

</div>