ul.comments {
	list-style: none;
	overflow: hidden;
	display: block;
	padding:0;
	margin:10px 0;
}

#photos_table .comments li {
	padding: 10px;
}

#photos_table {
	margin-left: auto;
	margin-right: auto;
	width: 900px;
}

#photos_table .photo {
	padding-bottom: 20px;
}

#photos_table .photo, #photos_table .photo_column, #photos_table .info_column {
	overflow:hidden;
}

.photo_column; {
	position: relative;
}

#photos_table .info_column {
	padding-left:40px;
}

#photos_table .photo_column {
	width: 40%;
	float:left;
}

#photos_table .photo_container {
	background-repeat: no-repeat;
	max-width: 100%;
	border-radius:5px;
}

#photos_table .comments .odd {
    background: #DFE1E7;

}

.detail {
	font-size: 13px;
}

.upload_box {
	list-style: none;
	padding:0;
	margin: 0;
	width: 10%;
	text-align: center;
}

.upload_box li {
	margin: 10px 0px;
	padding: 0;
}

.upload_button {
	width: 25%;
}

.upload_field {
	height: 20px;
	font-size: 14px;
}