<% @title = "Users" %>

<!-- Displays list of all users in the database.
 User names are links that link to the photos
 for that user -->
<p>Index of users:</p>
<table class="users_table" cellspacing="0">
	<% @users.each do |user| %>
		<% id = user.id %>
		<tr class="<%= cycle('odd', 'even') %>">
			<td class="users_table_cell">
				<%= link_to "#{id.to_s}. #{user.full_name}", 
				{:controller => :photos, :action => :index, :id => id}, :class => "user_link" %>
			</td>
		</tr>
	<% end %>
</table>