 <!--Partial page template for tabs-->

 <div id="tabs">
    <ul>
    <% tab_version.each do |tab| %>
        <li <% if tab[:label] == active_tab then%> id="selected" <% end %> >
        	<a href=<%=tab[:url]%>><span><%=tab[:label]%></span></a>
        </li>
    <% end %>
    </ul>
</div>